<div class="form-group" id="bg-color-section">
    <label for="">Background Color</label>
    <input type="color" name="<%=label%>" id="section-bg-color" value="#0000ff">
    <%# <input type="color" id="section-bg-color"> %>
</div>