:scss
  @import "mixins/all";
  .wrapper{
      padding: 0px;
      max-width: 100vw;
  }

  .home-toolbar{
    border: 0px;
    padding: 0 0.75em;
  }
  .listing-sections{
      padding-left: 0.75em;
  }
  .home-toolbar-button-group-button.list{
      @include media(tablet){
          border-top-right-radius: 0.375em;
          border-bottom-right-radius: 0.375em;
      }
  }