<%# %h2
  Marketplace not found
%p

  Could not find marketplace for domain
  %strong
    = host %>

<div style="
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
">
        <img src="https://yelodotred.s3.amazonaws.com/task_images/sSRG1556865995893-group75.png" class="mp-img">
        <span style="padding-top: 30px;">This service is not available at the moment.</span>
        <span style="padding-top: 7px;">Please try again later.</span>
    </div>