<div id="theme-confirmation-dialog" class="choose-theme-container">

<div class="confirm-content">
    <div class="body">
        <div class="message">
            Are you sure want to apply this theme ?
        </div>
        
    </div>
    <div class="footer">
        <button onclick="ST['adminThemes']['hideConfirmationDialog']()"  id="theme-cancel-btn" class="cancel-btn">Cancel</button>
        <a onclick="ST['adminThemes']['changeTheme']()" id="theme-apply-btn" class="button proceed-btn">Apply</a>
    </div>
</div>

</div>