<div id="paid-theme-confirmation-dialog" class="choose-theme-container">

<div class="confirm-content">
    <div class="body">
        <div class="message">
            To enable premium theme. Go to <a href='<%= admin_community_plans_path%>' target="_self" rel="noreferrer">Billing Section</a> and select the Growth or Premium Plan.
        </div>
        
    </div>
    <div class="footer">
        <button onclick="ST['adminThemes']['hidePaidThemesDialog']()"  id="theme-cancel-btn" class="cancel-btn">Close</button>
        <%# <a onclick="ST['adminThemes']['changeTheme']()" id="theme-apply-btn" class="button proceed-btn">Apply</a> %>
    </div>
</div>

</div>