
%div{:id=> "avail_calendar"}
  = form.label :blocked_dates, t("listings.form.datepicker.listing_availability"), :class => "input"
  = render partial: "layouts/info_text", locals: { text: t("listings.form.datepicker.availability_description") }

  %div{:id => "avail_dates" }
  = form.hidden_field(:blocked_dates, :class => "title_text_field",:autocomplete => 'off', :id=>"avail_dates_input")
-if run_js_immediately
  :javascript
      $(document).ready(function() {window.ST.listingCalendar.setupListingCalendar({});});
- else
  - content_for :extra_javascript do
    :javascript
      $(document).ready(function() {window.ST.listingCalendar.setupListingCalendar({ blockedDates: #{raw @listing_block_dates.to_json}} )});