
:scss
  @import "mixins/all";

  .listing-form-wrapper{
      width: 100%;
      display: flex;
      .mobile-back-btn{
        display: none;
      }
  }
  
  .form-sidenav{
      padding: 128px 0 82px calc((100% - 1056px) / 2);
      background-color: #fcfcfc;
      position: relative;
      .back-btn{
        cursor: pointer;
        color: #424242;
        position: absolute;
        top: 20px;
        &:hover{
          color: black;
        }
      }
  }

  .links-group{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
    a.form-sidenav-link{
      width: 240px;
      border-bottom-width: 0;
      margin-top: 0;
      margin-bottom: 16px;
      padding-top: 6px;
      padding-bottom: 2px;
      font-size: 24px;
      color: #4a4a4a;
      &:hover{
          color: #4a4a4a;
      }
      &.selected-link{
        border-right: 3px solid #4a4a4a;
        background: transparent;
      }
      &.disabled{
        pointer-events: none;
        color: #b2b2b2;
        text-decoration: none;
      }
    }
  }

 

  .listing-form-panel .hidden{
      display: none;
  }
  .listing-form-panel{
      padding: 128px calc((100% - 1056px) / 2) 82px 59px;
      border-left: 1px solid #e7e7e7;
      background-color: #fff;
      flex-grow: 1;
  }

  .form-section{
    .section-heading{
      font-size: em(48);
      margin-bottom: lines(1);
      font-weight: 700;
    }
    .form-group
    { 
      margin-bottom: 32px;
      .label-input{
          font-size: em(16);
          color: #4a4a4a;
      }
      input{
          border-radius: 0px;
          padding-left: 0px;
          font-size: em(20);
          border-width: 0px 0px 2px 0px;
          border-bottom-color: #4a4a4a; 
          &:focus{
              outline: none;
          }
      }
      textarea{
          border-radius: 0px;
          padding-left: 0px;
          font-size: em(20);
          border-width: 0px 0px 2px 0px;
          border-bottom-color: #4a4a4a; 
          &:focus{
              outline: none;
          }
      }
      button{
          margin-top: 100px;
          max-width: 240px;
          width: 100%;
          min-height: 65px;
          border-radius: 0px;
          font-size: em(24);
      }

      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 25px;
        padding-left: 0px;
        font-size: em(20);
        background: transparent;
        border: none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #4a4a4a;
        border-radius: 0;
        background-image: url('data:image/svg+xml;utf8,<svg width="14" height="9" viewBox="0 0 14 9" xmlns="http://www.w3.org/2000/svg"><path d="M6.53 7.472c.26.26.68.26.94 0l5.335-5.333c.26-.263.26-.684 0-.944-.26-.26-.683-.26-.943 0L7 6.056l-4.862-4.86c-.26-.26-.683-.26-.943 0-.26.26-.26.68 0 .943L6.53 7.47z" stroke="%234A4A4A" fill="%234A4A4A" fill-rule="evenodd"/></svg>');
        background-size: 16px 16px;
        background-position: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-transition: border-bottom-color .2s ease-in;
        -o-transition: border-bottom-color ease-in .2s;
        transition: border-bottom-color .2s ease-in;
        &:focus{
            outline: none;
        }
      }
    }  
  }


  @media screen and (max-width: 1024px){
    .listing-form-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      .mobile-back-btn{
         cursor: pointer;
        color: #424242;
       
        &:hover{
          color: black;
        }
      }
    }
    .form-sidenav{
      display: flex;
      flex-direction: row;
      padding: 0;
      flex-shrink: 0;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
      border-top: 1px solid #e7e7e7;
      overflow-x: scroll;
      .back-btn{
       display: none;
      }
    }

    .links-group{
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      a.form-sidenav-link{
        white-space: nowrap;
        display: inline-block;
        width: auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        padding-bottom: 10px;
        margin-left: 16px;
        padding-top: 10px;
        margin-top: auto;
        margin-bottom: 0px;
        border-bottom: 2px solid transparent;
        color: #4a4a4a;
        &:hover{
            color: #4a4a4a;
        }
        &.selected-link{
          border-bottom-color: #000;
          background: transparent;
          color: #000;
          border-right: 0px;
        }
       
      }
    }

    .listing-form-panel{
      padding: 11px 0px;
      border: 0;
      flex-grow: 1;
    }

    .form-section{
      width: 100%;
      height: auto;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      .section-heading{
        font-weight: 700;
        font-size: em(30);
        line-height: 36px;
        margin-top: 19px;
        margin-bottom: 15px;
      }
      .form-group{
        margin-bottom: 24px;
        input{
          font-size: 18px;
        }
        .label-input{
          font-size: 16px;
        }
        button{
          margin: 0px;
          max-width: 100%;
          width: 100%;
          min-height: 65px;
          border-radius: 0px;
          font-size: em(18);
        }

      }
    }
   

  } 

