:scss
  @import "mixins/all";
  .home-fluid-thumbnail-grid-author{
      background-color: #cacaca;
  }

  .fluid-thumbnail-grid-image-overlay{
    @include border-top-radius($default-border-radius);
  }

  .fluid-thumbnail-grid-image-image{
    @include border-top-radius($default-border-radius);
  }

  #filters{
    display: block;
  }