  <style>
       @font-face {
            /* 'SofiaPro-Regular' */
            font-family: 'sofiapro';
            src: url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff2') format('woff2'),
                 url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-regular-webfont.woff') format('woff');
            font-weight: 400;
            /* Regular */
            font-style: normal;
       }

       @font-face {
            font-family: 'sofiapro';
            src: url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff2') format('woff2'),
                 url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-medium-webfont.woff') format('woff');
            font-weight: 500;
            /* Medium */
            font-style: normal;
       }

       @font-face {
            font-family: 'sofiapro';
            src: url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff2') format('woff2'),
                 url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-mediumit-webfont.woff') format('woff');
            font-weight: 500;
            /* Medium italics */
            font-style: italic;
       }

       @font-face {
            font-family: 'sofiapro';
            src: url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff2') format('woff2'),
                 url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-semibold-webfont.woff') format('woff');
            font-weight: 600;
            /* SemiBold */
            font-style: normal;
       }

       @font-face {
            font-family: 'sofiapro';
            src: url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff2') format('woff2'),
                 url('https://assets-sharetribecom.sharetribe.com/webfonts/sofiapro/sofiapro-bold-webfont.woff') format('woff');
            font-weight: 700;
            /* Bold */
            font-style: normal;
       }
  </style>
  